/* universal styles */

body {
    font-size: 12px;
    font-family: sans-serif;
    color: #404040;
}

#nav {
    height: 64px;
    display: flex;
}

#nav ul {
    margin: auto;
    width: 50%;
    text-align: right;
}

#nav li {
    display: inline-block;
    font-size: 16px;
    margin: 0px 8px;
    color: #404040;
}

a:link, a:hover, a:visited, a:active {
    color: #404040;
    text-decoration: none;
}

img {
    margin-left: 24px;
}

#colmar {
    height: 32px;
    width: 40%;
}

#academy {
    color: lightgray;
}

#nav-small {
    display: none;
}

@media only screen and (max-width: 600px) {
    #nav h1 {
        display: none;
    }

    #nav .nav-big {
        display: none;
    }

    #nav-small {
        display: flex;
        justify-content: space-between;
    }
}

/* learn something new everyday section */

#learn-something-new {
    background-color: lightgray;
    display: flex;
}

#learn-something-new img {
    width: 60%;
    margin: 32px 24px;
}

#text {
    margin-left: 24px;
    margin: auto;
    color: #404040;
}

#text h1 {
    font-size: 56px;
    margin-bottom: 0;
    margin-top: 0;
}

#text h2 {
    font-size: 30px;
}

#start-here {
    background-color: #404040;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 80%;
    padding: 8px 0;
    font-weight: 100;
}

@media only screen and (max-width: 600px) {
    #learn-something-new {
        display: block;
    }

    #learn-something-new img {
        width: 100%;
        margin: 0;
    }

    #text {
        padding-bottom: 24px;
    }

    #text h1 {
        margin: 32px 16px;
        font-size: 44px;
    }

    #text h2 {
        margin-left: 16px;
        margin-bottom: 24px;
    }

    #text h4 {
        margin-bottom: 0;
    }

    #start-here {
        margin: 24px auto;
        width: 92%;
    }
}

/* keep practicing section */

#section-container {
    display: flex;
}

#container-left {
    width: 60%;
}

#container-left img {
    width: 100%;
    margin: 32px 24px;
}

#keep-practicing-text {
    margin-left: 24px;
    width: 90%;
}

#keep-practicing-text h1 {
    font-size: 48px;
    color: #404040;
    margin: 0 auto;
}

.quote {
    color: #404040;
    font-size: 22px;
    margin: 24px 0;
}

.emanuel {
    color: #404040;
    font-size: 12px;
    margin-bottom: 32px;
}

#container-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    border-left: 1px solid gray;
}

#container-right img {
    margin: 16px;
    width: 75%;
}

#box1 {
    display: flex;
    border-bottom: 2px solid lightgray;
    margin-top: 14px;
}

.image-small {
    display: none;
}

#box1-text, #box2-text, #box3-text {
    margin: auto;
    width: 65%;
}

#box2 {
    display: flex;
}

#box3 {
    display: flex;
    background-color: lightgray;
}

#container-right h4 {
    font-size: 26px;
    color: #404040;
    margin: 0;
}

.subtext {
    color: #404040;
    font-size: 14px;
    margin: 8px 0;
    width: 90%;
}

.readmore {
    color: blue;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    #container-left {
        display: none;
    }

    #container-right {
        width: 90%;
        border-left: none;
        margin: auto;
    }

    #container-right img {
        margin: 0;
    }

    #box1 {
        display: block;
        border-bottom: none;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    #box1 img {
        display: none;
    }

    #box1 .image-small {
        display: block;
        width: 100%;
    }

    #box1-text {
        margin-left: 16px;
        margin-top: 16px;
    }

    #box2 {
        display: block;
        margin-bottom: 16px;
    }

    #box2 img {
        display: none;
    }

    #box2 .image-small {
        display: block;
        width: 100%;
    }

    #box2-text {
        margin-left: 16px;
        margin-top: 16px;
    }

    #box3 {
        display: block;
        background-color: white;
        margin-bottom: 32px;
    }

    #box3 img {
        display: none;
    }

    #box3 .image-small {
        display: block;
        width: 100%;
    }

    #box3-text {
        margin-left: 16px;
        margin-top: 16px;
    }

    .readmore {
        font-size: 14px;
    }
}

/* start learning section */

#start-learning {
    background-color: lightgray;
    color: #404040;
}

#start-learning-title {
    text-align: center;
    border: 1px solid lightgray;
}

#start-learning-title h1 {
    font-size: 48px;
    margin: 32px 0;
}

#courses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 72px;
}

#courses img {
    margin: 0;
    width: 400px;
}

#courses h4 {
    font-size: 28px;
    margin: 16px 0;
}

.courses {
    font-size: 20px;
    margin: 8px 0;
    color: gray;
}

.description {
    font-size: 20px;
    color: gray;
    margin-bottom: 24px !important;
}

#courses h4, #courses p {
    margin: 8px 24px;
}

#software-engineering {
    background-color: white;
    max-width: 400px;
    margin-bottom: 32px;
}

#computer-art {
    background-color: white;
    max-width: 400px;
    margin-bottom: 32px;
}

#design {
    background-color: white;
    max-width: 400px;
    margin-bottom: 32px;
}

#data {
    background-color: white;
    max-width: 400px;
    margin-bottom: 32px;
}

#business {
    background-color: white;
    max-width: 400px;
    margin-bottom: 32px;
}

#marketing {
    background-color: white;
    max-width: 400px;
    margin-bottom: 32px;
}

@media only screen and (max-width: 600px) {
    #start-learning {
        background-color: white;
        border-top: 1px solid lightgray;
    }

    #start-learning-title {
        border: none;
    }

    #start-learning-title h1 {
        margin-bottom: 16px;
    }

    #courses {
        display: block;
        margin: 0;
    }

    #courses img, #courses p {
        display: none;
    }

    #courses h4 {
        background-color: lightgray;
        padding: 24px 16px;
        width: 108%;
        margin: 0;
    }

    #software-engineering {
        margin-bottom: 8px;
    }

    #computer-art {
        margin-bottom: 8px;
    }

    #design {
        margin-bottom: 8px;
    }

    #data {
        margin-bottom: 8px;
    }

    #business {
        margin-bottom: 8px;
    }

    #marketing {
        margin-bottom: 32px;
    }
}

/* thesis exhibit section */

#thesis-exhibit-containers {
    display: flex;
}

#thesis-exhibit-title h1 {
    font-size: 48px;
    color: #404040;
    margin: 32px auto;
    text-align: center;
}

#thesis-left-container {
    margin: 0 24px;
    width: 60%;
}

#thesis-left-container video {
    width: 100%;
}

#thesis-left-container h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

#thesis-left-container p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 32px;
}

#thesis-right-container {
    width: 40%;
}

#top-box {
    background-color: lightgray;
    display: flex;
    align-items: center;
}

#bottom-box {
    display: flex;
    align-items: center;
}

#thesis-right-container img {
    width: 35%;
    margin: 16px;
}

#thesis-right-container h4 {
    font-size: 28px;
    margin-bottom: 0px;
}

#thesis-right-container p {
    font-size: 22px;
}

@media only screen and (max-width: 600px) {
    #thesis-right-container  {
        display: none;
    }

    #thesis-left-container {
        width: 100%;
        margin: 0;
        margin-bottom: 24px;
    }

    #thesis-left-container h1, #thesis-left-container p {
        display: none;
    }

    #thesis-exhibit-title h1 {
        margin-top: 32px;
        margin-bottom: 16px;
    }
}

/* footer section */

footer {
    border-top: 1px solid lightgray;
    display: flex;
}

#footer-left {
    margin-left: 24px;
}

#footer-right {
    display: flex;
    justify-content: end;
    width: 80%;
}

#terms-privacy li {
    display: inline-block;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    footer {
        border-top: none;
    }

    #footer-left {
        width: 100%;
    }

    #footer-left p {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 14px;
    }

    #footer-right {
        display: none;
    }
}